<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bryan Hunter</title>

  <!-- App CSS -->
  <link rel="stylesheet" href="../public/style.css" type="text/css" />

  <!-- App JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="../public/app.js"></script>
</head>

<body>
  <header id="hero">
    <div id="site-header">
      <h1>Bryan Hunter</h1>
      <ul>
        <li><a href="#"><h3>Projects</h3></a></li>
        <li><a href="#"><h3>About</h3></a></li>
        <li><a href="#"><h3>Contact</h3></a></li>
      </ul>
    </div>
    <div class="hero-header">
      <h1> Fullscreen Hero image </h1>
    </div>
  </header>
  <section>
    <div>
      <p>hello</p>
    </div>
  </section>
</body>
</html>
