// Header

header {
  color: #fff;
}

#site-header {
  display: grid;
  grid-template-columns: 30px repeat(2, 1fr) 30px;

  h1 {
    grid-column-start: 2;
    align-self: center;
    font-family: 'Bree Serif', serif;
    // color: $basic-color;
  }

  ul {
    grid-column-start: 3;
    justify-self: end;
    display: flex;
    
    li {
      margin-left: 25px;
      list-style: none;

      a {
        text-decoration: none;
        color: #fff;
      }

    }

  }

}

#hero{
  background-image: url(https://chrisaam.files.wordpress.com/2015/03/wallpaper-2846361.jpg);
  background-size: cover;
  position: relative;
}

.hero-header{
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  font-size: 36px;
  -ms-transform: translate(0,-50%); /* IE 9 */
   	-webkit-transform: translate(0,-50%); /* Safari */
    transform: translate(0,-50%);  
}