// Imports

@import 'variables';
@import url('https://rsms.me/inter/inter-ui.css');

// Main Styles

html {
  font-size: percentage(18/16);
  font-family: 'Inter UI', sans-serif;
}

p {
  font-size: $scale0;
}

// Header

#site-header {
  display: grid;
  grid-template-columns: 30px repeat(2, 1fr) 30px;

  h2 {
    grid-column-start: 2;
    align-self: center;
    color: $basic-color;
  }

  ul {
    grid-column-start: 3;
    justify-self: end;
    display: flex;
    
    li {
      margin-left: 25px;
      list-style: none;

      a {
        text-decoration: none;
        color: $basic-color;
      }

    }

  }

}