// Imports

@import 'variables';
@import url('https://rsms.me/inter/inter-ui.css');
@import 'header';

// Main Styles

html {
  font-size: percentage(18/16);
  font-family: 'Inter UI', sans-serif;
}

body {
  margin: 0;
}

p {
  font-size: $scale0;
}